* {
  margin: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0;
  border: none;

  font-family: 'Arial';
}

.page_wrapper {
  position: static;
}

.header_main {
  position: fixed; /* Закрепляет шапку наверху экрана */
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  /* line-height: 60px; */
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  /* text-align: center; */
  /* padding: 12px 0; */
  z-index: 1000; /* Шапка всегда сверху */
  background-color: #ffffff; /* Фон шапки */
  border-bottom: 1px solid #ddd; /* Линия под шапкой */
}

.header_title {
  margin: auto 0;
  font-size: 32px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
}

.header_title::first-letter {
  color: red;
}


.filter {
  display: none;
}

.content_main {
  padding-top: 50px;
  padding-bottom:30px;
}

.cards-container {
  width: 100%;
  box-sizing: border-box;
  /* padding-top: 20px; */
}

.card {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 90%;
  height: 400px;
  margin: 30px auto;
  border: 1px solid rgb(52, 52, 52);
}

.card:last-child {
  margin-bottom: 0px;
}

.card-img {
  grid-row: 1;
  width: 100%;
  height: 220px; /* Задаем фиксированную высоту для изображения */
  object-fit: cover;
}

.card-text-content {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.card-title {
  display: block;
  font-size: 30px; /* Размер шрифта, соответствующий h2 */
  font-weight: 400; /* Толщина шрифта */
  text-decoration: none; /* Убираем подчеркивание */
  color: inherit;
  overflow: hidden;
  margin-bottom: 5px;
  width: fit-content;
}

.card-title:hover {
  text-decoration: underline;
}

.card-title:visited {
  color: inherit; /* Наследовать цвет текста */
  text-decoration: none; /* Убираем подчеркивание, если оно добавляется */
}

.card-desc-full {
  display: none;
}

.card-desc-small,
.card-desc-full {
  color: rgb(68, 68, 68);
  font-size: 15px;
}

.card-status {
  font-size: 15px;
}


.footer-main {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #ffffff;
  border-top: 1px solid #ddd;
  font-family: Arial, sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  padding: 20px 5%;
}

.footer-left {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-right {
  display: flex;
  text-align: left;
}

.footer-main a {
  color: #4c4cd8;
  text-decoration: none;
}

.footer-main a:hover {
  text-decoration: underline;
}

.contact-us {
  color: rgb(68, 68, 68);
  margin-bottom: 5px;
}

.email::before
{
    content: '';
    display: inline-block;
    background-image: url(images/mail-img.png);
    background-size: cover;
    width: 13px;
    height: 13px;
    margin-right: 5px;
}

.email:last-child {
  margin-top: 2px;
}


@media screen and (min-width: 730px) {
  .content_main {
    padding-bottom: 0;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    padding: 22px;
  }

  .card {
    width: 100%;
    height: 300px;
    margin: 0;
  }

  .card:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }

  .card-img {
    height: 150px;
  }

  .card-title {
    font-size: 28px;
  }

  .footer-main {
    flex-direction: row;
    height: 100px;
  }

  .footer-left {
    align-items: flex-start;
  }

  .footer-right {
    align-items: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .content_main {
    display: flex;
    flex-direction: row-reverse;
  }

  .filter {
    display: block;
    flex-basis: 20%;
    padding: 22px;
    padding-left: 0;
    font: 15px Arial, sans-serif;
    color: #565656;
  }

  .filter-age {
    padding-left: 16px;
    margin-bottom: 30px;
  }

  .filter-name {
    margin-bottom: 16px;
  }

  .filter-breed {
    display: flex;
    flex-direction: column;
  }

  .filter-breed-elements {
    display: flex;
    flex-direction: column;
  }

  .filter-breed-element {
    border: 1px solid rgb(52, 52, 52);
    border-radius: 3px;
    height: 36px;
    margin-bottom: 10px;
    align-content: center;
    padding-left: 10px;
  }

  .filter .filter-name {
    font-size: 20px;
    font-weight: normal;
  }

  .slider {
    position: relative;
  }

  .slider-line {
    height: 1px;
    background-color: #2d2d2d;
    width: 70%;
    margin: 0 0 0 10px;
  }

  .cards-container {
    flex-basis: 80%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 22px;
  }

  .card {
    display: grid;
    grid-template-rows: 190px 100px;
    grid-template-columns: 260px auto;
    grid-column-gap: 5px;
    opacity: .5;
  }

  .card-img {
    margin: 5%;
    width: 90%;
    /* border-radius: 7px; */
  }

  .card-text-content {
    grid-row: 1;
    margin: 5% 2%;
    padding: 0;
    justify-content: flex-start;
  }

  .card-title {
    font-size: 25px;
    margin-bottom: 8px;
  }

  .card-desc-small {
    margin-bottom: 12px;
  }

  .card-desc-full {
    display: block;
    grid-column: span 2;
    border-top: 1px solid #d3d3d3;
    padding: 15px;
  }


  .footer-main {
    flex-direction: row;
    height: 50px;
  }

  .footer-left {
    flex-direction: row;
    align-items: center;
  }

  .footer-right {
    align-items: center;
  }

  .contact-us {
    margin-right: 15px;
    margin-bottom: 0;
  }

  .contact-us::before {
    content: '';
    display: inline-block;
    background-image: url(images/mail-img.png);
    background-size: cover;
    width: 13px;
    height: 13px;
    margin-right: 5px;
  }

  .contact-us + .email::after
  {
      content: '\25CF';
      display: inline-block;
      padding: 0 15px;
      color: #565656;
  }

  .email::before {
    display: none;
  }

  .rb-no:checked ~ .content_main .cards-container > .card,
  .rb-siamese:checked ~ .content_main .cards-container > .siamese,
  .rb-devon-rex:checked ~ .content_main .cards-container > .devon-rex,
  .rb-turetskaya:checked ~ .content_main .cards-container > .turetskaya,
  .rb-alley:checked ~ .content_main .cards-container > .alley,
  .rb-oriental:checked ~ .content_main .cards-container > .oriental,
  .rb-maine-coon:checked ~ .content_main .cards-container > .maine-coon,
  .rb-burma:checked ~ .content_main .cards-container > .burma,
  .rb-bombey:checked ~ .content_main .cards-container > .bombey,
  .rb-european:checked ~ .content_main .cards-container > .european
  {
      order: -1;
      opacity: 1;
  }

  .rb-no:checked ~ .content_main .filter-breed-elements > .lb-no,
  .rb-siamese:checked ~ .content_main .filter-breed-elements > .lb-siamese,
  .rb-devon-rex:checked:checked ~ .content_main .filter-breed-elements > .lb-devon-rex,
  .rb-turetskaya:checked:checked ~ .content_main .filter-breed-elements > .lb-turetskaya,
  .rb-alley:checked ~ .content_main .filter-breed-elements > .lb-alley,
  .rb-oriental:checked ~ .content_main .filter-breed-elements > .lb-oriental,
  .rb-maine-coon:checked ~ .content_main .filter-breed-elements > .lb-maine-coon,
  .rb-burma:checked ~ .content_main .filter-breed-elements > .lb-burma,
  .rb-bombey:checked ~ .content_main .filter-breed-elements > .lb-bombey,
  .rb-european:checked ~ .content_main .filter-breed-elements > .lb-european
  {
      background-color: #e9ffd0;
      border-color: #a7de70;
  }
}
